@import 'fonts/sf-pro-display.scss';
@import 'utilities/_variables.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $body-bg-dark;
  font-family: $sf-pro-normal;
  font-weight: $font-weight-normal;
}

.app-container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background-color: green;
}
